/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Contrail+One');

body {
    background: #47657e;
    height: 100vh;
    overflow: hidden;
}



#main-wrapper {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 110vh;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 110vh;
    background: rgb(172, 172, 22);
    overflow: hidden;
}

#ball-panel{
    height: 100%;
}

#score-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Contrail One', cursive;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

#start-btn {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -40px;

}

.btn{
    background: orangered;
    color: #fff;
    font-family: 'Contrail One', cursive;
    font-size: 26px;
    padding: 3px 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 0 #A35906;
    border: 4px solid #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#restart-btn {
    position: absolute;
    top: 10px;
    right:1%;
    display: none;
    z-index: 5;
}

.balloon {
    /* background-color: red; */
    position: absolute;
    width: 40px;
    height: 53px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 1;
    -webkit-transition: all 0.45s ease-out;
    -moz-transition: all 0.45s ease-out;
    transition: all 0.45s ease-out;
    
}

#winner-card{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;

}

#game-over{
    position: absolute;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #000;
    align-items: center;
    z-index: 2;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: translateX(-100%);

}

.card{
    margin: 0 auto;
    overflow: hidden ;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.winner{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #000;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
.lose{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 555;
}

.congrats{
    background-color: violet;
    text-transform: uppercase;
    color: rgb(29, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 26px;
    padding: 3px 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 0 #A35906;
    cursor: pointer;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    #main-wrapper {
     
        width: 100%;
      
    }

    #canvas {
        width: 100%;
    }

    #card{
        width: 90%;
    }
    .balloon {
   
        width: 30px;
        height: 35px;
     

    }
  }